body {
    background-color: #f7ede2;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:  Monospace;
    height: 70vh;
    height: 3px;
}

.main-container {
    background-color: #f6bd60;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px #84a59d;
    padding: 20px;
}

.calc-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #f7ede2;
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #f5cac3;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f28482;
    align-items: center;
}

.input-group, .output-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 5px;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.result-container {
    width: 45%;
    background: #dff0d8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input, button {
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid #84a59d;
    border-radius: 5px;
}

button {
    width: 93%;
    background: #f28482;
    color: white;
    cursor: pointer;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

input {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #84a59d;
    text-align: center;
}